.header{
    background-color:salmon;
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.profilePic{
    width:20%;
    border-radius:150px;
}
.mid{
    background-color:lavender;
    color:#4a7d91;
    display:flex;
    align-items:center;
    flex-direction:column;
    font-size:50px;
    font-family: 'Monda', sans-serif;
    margin-top:5px;
    margin-bottom:5px;
}

.dogpic{
    border:1px solid black;  
    display:flex;
    justify-content:center;
}

#projects {
    
}

.box {
    height: 300px;    
    width: 300px;
    flex-direction:row;
    border: 5px solid black;
}
.footer {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:salmon;
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
}
.header a:visited {
    color:lavender;
    text-decoration:underline;
}
.header a:hover {
    text-decoration: blink;
    color: #4a7d91;
}

.box a:visited {
    color:lavender;
    text-decoration:underline;
}
.box a:hover {
    text-decoration: blink;
    color: #4a7d91;
}
h1 {
    margin:0;
}