.toprow{
    background-color:salmon;
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.headshot{
    width:20%;
    border-radius:150px;
}
.mid{
    background-color:lavender;
    color:#4a7d91;
    display:flex;
    justify-content:space-around;
    align-items:center;    
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}

a {
    color:white;
}
.maindog{
    border:1px solid black;  

    display:flex;
    justify-content:center;
}


.links {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:salmon;
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
}
